<section class="vh-100">
    <div class="container py-5 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 col-xl-12">
                <div class="card rounded-3" style="margin-bottom: 10px;">
                    <div class="p-4">
                        <div>
                            <h4 class="text-center my-3 pb-3">Todo item details:</h4>


                            <div>
                                <div *ngIf="todo$ | async as todo">
                                    <p><i>Id: </i> <span>{{ todo.id }}</span></p>
                                    <p><i>Title: </i> <span>{{ todo.title }}</span></p>
                                    <p><i>Completed: </i> <span>{{ todo.completed }}</span></p>
                                </div>
                            </div>



                        </div>
                        <p><a class="link-opacity-75-hover" [routerLink]="['../']">Back to list</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>